<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Loucoja Dos Gêmeos Malucos</title>
  </head>
  <body>
  <center>
    <h1><b><i>Loucoja D</i>os <big>Gêmeos M<sup>al</sup>u<sub>co</sub>s</big></b></h1>
    </center>
    <hr>
    <center>
    <h3><b>Produtos N<sup>o</sup>r<sub>m</sub>a<sup>i</sup>s<sub></b></h3>
    {% for product in object_list %}
        <div class="card mb-3" style="max-width: 900px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ product.image.url }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><big><b>{{ product.name }}</b></big></h5>
                <p class="card-text">{{ product.description  }}</p>
                <p class="card-text">Código do produto: {{ product.code }}</p>
                <p class="card-text">Quantidade: {{ product.quantity }}</p>
                <hr>
                <form method="POST" action="{% url 'add_stock' product.id %}">
                  {% csrf_token %}
                  <input type="number" class="form-control" style="lenght: 50px" name="quantity" min="0">
                  <br>
                  <input type="submit" class="btn btn-success" value="Adicionar ao Estoque">
                </form>
                <br>
                <form method="POST" action="{% url 'decrease_stock' product.id %}">
                  {% csrf_token %}
                  <input type="number" class="form-control" style="lenght: 50px" name="quantity" min="0">
                  <br>
                  <input type="submit" class="btn btn-success" value="Tirar do Estoque">
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    </center>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>